.btn-main,
.btn-outlined,
.btn-error {
	cursor: pointer;
	border: none;
	border-radius: 6px;
	font-weight: 600;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	margin-top: 2rem;
	padding: 0.7rem 1.5rem;
	text-decoration: none;
	transition: all 0.2s ease;
}

.btn-main span,
.btn-outlined span,
.btn-error span {
	font-size: 12px;
}

.btn-main:hover,
.btn-outlined:hover,
.btn-error:hover {
	transform: translateY(-1px);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-main:active,
.btn-outlined:active,
.btn-error:active {
	transform: translateY(0);
}

.btn-main {
	color: var(--color-text);
	background-color: var(--color-accent);
}

.btn-main:hover {
	background-color: var(--color-accent-hover);
}

.btn-outlined {
	background-color: transparent;
	color: var(--color-text);
	border: 1px solid var(--color-border);
}

.btn-outlined:hover {
	border: 1px solid var(--color-text);
}

.btn-error {
	background-color: transparent;
	color: var(--color-error);
	border: 1px solid var(--color-error);
}

.btn-error:hover {
	color: var(--color-error-hover);
	border: 1px solid var(--color-error-hover);
}

.buttons-container .btn-main,
.buttons-container .btn-outlined,
.buttons-container .btn-error {
	flex: 1;
}

.btn-icon {
	margin: 0;
	cursor: pointer;
	background-color: transparent;
	border: none;
	color: var(--color-accent);
}
