.dashboard-container {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	border: 1px solid var(--color-border);
	padding: 1rem;
	border-radius: 8px;
}

#my-bookings {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex: 2;
}

#new-booking {
	display: flex;
	justify-content: center;
	align-items: stretch;
	min-height: 200px;
	max-height: 200px;
	flex: 1;
	a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: 2rem;
		background-color: var(--color-accent);
		color: var(--color-text);
		border-radius: 8px;
		font-size: 1.2rem;
		font-weight: 600px;
		margin: 0;
		&:hover {
			background-color: var(--color-accent-hover);
		}
	}
}

.booking-item {
	padding: 1rem;
	border-radius: 8px;
	background-color: var(--color-bg-surface);
	border: 1px solid var(--color-border);
	.date {
		font-size: 0.8rem;
		color: var(--color-accent);
	}
	&:hover {
		border: 1px solid var(--color-text-muted);
	}
}

.booking-info {
	display: flex;
	margin-bottom: 0.5rem;
	gap: 1rem;
	font-size: 0.8rem;

	span {
		font-size: 1rem;
	}
}
