#login-form {
	display: flex;
	flex-direction: column;
	margin: 0 20%;
	gap: 0.5rem;
}

input {
	padding: 0.3rem;
	border-radius: 4px;
}

button {
	padding: 0.5rem 0;
	margin-top: 2rem;
	text-transform: uppercase;
}

.user-form {
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border: 1px solid var(--color-border);
	padding: 1rem;
	border-radius: 8px;
	.button-group {
		display: flex;
		flex-direction: row;
		justify-content: stretch;
		align-items: center;
		gap: 1rem;
		a {
			margin: 0;
		}
		button {
			margin: 0;
		}
	}
}
