#login-form {
	display: flex;
	flex-direction: column;
	margin: 0 20%;
	gap: 0.5rem;
}

input {
	padding: 0.3rem;
	border-radius: 4px;
}

button {
	padding: 0.5rem 0;
	margin-top: 2rem;
	text-transform: uppercase;
}
