@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
	--color-bg: #0a0a0a;
	--color-bg-surface: #1a1a1a;
	--color-bg-muted: #262626;

	--color-text: #fafafa;
	--color-text-muted: #a3a3a3;

	--color-accent: #3b82f6;
	--color-accent-hover: #2563eb;

	--color-border: #404040;

	--color-error: #f55757;
	--color-error-hover: #fa6969;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: all 0.2s ease;
}

a {
	color: var(--color-accent);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1rem;
	cursor: pointer;
	&:hover {
		color: var(--color-accent-hover);
	}
}

body {
	height: 100svh;
	max-width: 1080px;
	margin: 0 auto;
	background-color: var(--color-bg);
	color: var(--color-text);
	font-family: "Open Sans", sans-serif;
}

main,
header,
footer {
	width: 100%;
}

footer {
	position: fixed;
	bottom: 0;
	overflow: hidden;
}

header {
	display: flex;
	flex-direction: column;
	h1 {
		display: inline-flex;
		justify-content: center;
		text-transform: uppercase;
	}
}

hr {
	opacity: 0.1;
	margin: 0.5rem 0;
}

.container {
	max-width: 1200px;
	margin: 0 150px;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	height: 100%;
	padding: 2rem;
}

.user-info {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	gap: 1rem;
}

/*
MUI Icons
*/

.material-symbols-outlined {
	font-size: 24px;
	vertical-align: middle;
}

nav {
	margin: 2rem 0;
	display: flex;
	align-items: center;
	gap: 3rem;
	border-bottom: 2px solid var(--color-bg);
}

/** Auth stuffs. */

.logout-message,
.error-message {
	display: flex;
	justify-content: center;
	padding: 1rem;
	margin: 1rem;
	border-radius: 8px;
	border: 1px solid var(--color-error);
	color: var(--color-error);
	font-weight: 600;
}
