.room-info-section,
.bookings-list {
	margin-top: 1rem;
	display: flex;
	padding: 1rem;
	border: 1px solid var(--color-border);
	border-radius: 8px;
}

.bookings-list {
	display: flex;
	flex-direction: column;
	h3 {
		margin-bottom: 1rem;
	}
}

.booking-container {
	background-color: var(--color-bg-surface);
	padding: 1rem;
	border-radius: 8px;
}

hr {
	margin: 1rem;
}

.form-controller {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}
